
.container-1{
    width: 75%;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
}

.flex-blackjack-row1,.flex-blackjack-row2,.flex-blackjack-row3{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid black;
}

.flex-blackjack-row1,.flex-blackjack-row2{
    background: url('https://media.istockphoto.com/photos/green-poker-table-picture-id502000289?k=6&m=502000289&s=612x612&w=0&h=JGO93i8O4N7XJdk_oYYh0YQJbVCuPDxGKmwtTaOaKEs=');
    color: #ffffff;
}

.flex-blackjack-row1 div{
    height: 350px;
    border: 1px solid black;
    padding: 10px;
    flex: 1;
    text-align: center;
}

.flex-blackjack-row1 img{
    width: 25%;
    padding: 10px;
}

table,th,td{
    border: 1px solid black;
    padding: 5px;
}